<img src="https://raw.githubusercontent.com/afo/data-x-plaksha/master/imgsource/dx_logo.png" align="left"></img><br><br><br><br>

## Plaksha SQL assignment

---

## Submission details:

Please submit this as a Jupyter Notebook and a PDF of your results (both should show output). Also push your solutions to Github.

For the submision create a local database with `sqlite3` or `sqlalchemy` in a Jupyter notebook and make the queries either with a cursor object (and then print the results) or by using pandas `pd.read_sql_query()`.

___

When completing this homework you can experiment with SQL commands by utilizing this great online editor:

https://www.w3schools.com/sql/trysql.asp?filename=trysql_select_all

There are already some tables in the online Database, namely:

`Categories, Employees, OrderDetails, Orders, Products, Shippers, and Suppliers.`

If you want you can drop them by running  `DROP TABLE [table-name];` (or just keep them).

___

## Exercises:

First create a table called students. It has the columns: 'student_id', 'name', 'major', 'gpa' and 'enrollment_date' We will use a new form of `CREATE TABLE` expression to produce this table.

Note that you can improve this and are welcome to do so -- e.g. by specifying for example a PRIMARY KEY and a FOREIGN KEY in Q2 :)

    CREATE TABLE students AS
        SELECT 1 AS student_id, "John" AS name, "Computer Science" AS major, 3.5 AS gpa, "01-01-2022" AS enrollment_date UNION
        SELECT 2, "Jane", "Physics", 3.8, "01-02-2022" UNION
        SELECT 3, "Bob", "Engineering", 3.0, "01-03-2022" UNION
        SELECT 4, "Samantha", "Physics", 3.9, "01-04-2022" UNION
        SELECT 5, "James", "Engineering", 3.7, "01-05-2022" UNION
        SELECT 6, "Emily", "Computer Science", 3.6, "01-06-2022" UNION
        SELECT 7, "Michael", "Computer Science", 3.2, "01-07-2022" UNION
        SELECT 8, "Jessica", "Engineering", 3.8, "01-08-2022" UNION
        SELECT 9, "Jacob", "Physics", 3.4, "01-09-2022" UNION
        SELECT 10, "Ashley", "Physics", 3.9, "01-10-2022";


## Q1 Simple SELECTS (on the students table)
1. SELECT all records in the table.
2. SELECT students whose major is "Computer Science".
3. SELECT all unique majors (use SELECT DISTINCT) and order them by name, descending order (i.e. Physics first).
4. SELECT all students that have an 'e' in their name and order them by gpa in ascending order.


## Q2 Joins

Create a new table called courses, which indicates the courses taken by the students. 

Create the table by running:
	
    CREATE TABLE courses AS
        SELECT 1 AS course_id, "Python programming" AS course_name, 1 AS student_id, "A" AS grade UNION
        SELECT 2, "Data Structures", 2, "B" UNION
        SELECT 3, "Database Systems", 3, "B" UNION
        SELECT 1, "Python programming", 4, "A" UNION
        SELECT 4, "Quantum Mechanics", 5, "C" UNION
        SELECT 1, "Python programming", 6, "F" UNION
        SELECT 2, "Data Structures", 7, "C" UNION
        SELECT 3, "Database Systems", 8, "A" UNION
        SELECT 4, "Quantum Mechanics", 9, "A" UNION
        SELECT 2, "Data Structures", 10, "F";

1. COUNT the number of unique courses.
2. JOIN the tables students and courses and COUNT the number of students with the major Computer Science taking the course Python programming.
3. JOIN the tables students and courses and select the students who have grades higher than "C", only show their name, major, gpa, course_name and grade.


## Q3 Aggregate functions, numerical logic and grouping

1. Find the average gpa of all students.
2. SELECT the student with the maximum gpa, display only their student_id, major and gpa
3. SELECT the student with the minimum gpa, display only their student_id, major and gpa
4. SELECT the students with a gpa greater than 3.6 in the majors of "Physics" and "Engineering", display only their student_id, major and gpa
5. Group the students by their major and retrieve the average grade of each major.
6. SELECT the top 2 students with the highest GPA in each major and order the results by major in ascending order, then by GPA in descending order

# Your solution

In [1]:
import sqlite3

In [2]:
!ls

sample_data

In [3]:
connection = sqlite3.connect('student.db')

In [4]:
!ls

sample_data  student.db

In [5]:
cursor = connection.cursor()

In [6]:
cursor.execute('DROP TABLE IF EXISTS students;')

In [7]:
sql_command = '''CREATE TABLE students AS
    SELECT 1 AS student_id, "John" AS name, "Computer Science" AS major, 3.5 AS gpa, "01-01-2022" AS enrollment_date UNION
    SELECT 2, "Jane", "Physics", 3.8, "01-02-2022" UNION
    SELECT 3, "Bob", "Engineering", 3.0, "01-03-2022" UNION
    SELECT 4, "Samantha", "Physics", 3.9, "01-04-2022" UNION
    SELECT 5, "James", "Engineering", 3.7, "01-05-2022" UNION
    SELECT 6, "Emily", "Computer Science", 3.6, "01-06-2022" UNION
    SELECT 7, "Michael", "Computer Science", 3.2, "01-07-2022" UNION
    SELECT 8, "Jessica", "Engineering", 3.8, "01-08-2022" UNION
    SELECT 9, "Jacob", "Physics", 3.4, "01-09-2022" UNION
    SELECT 10, "Ashley", "Physics", 3.9, "01-10-2022";'''
cursor.execute(sql_command)

Q1 Simple SELECTS (on the students table)
SELECT all records in the table.
SELECT students whose major is "Computer Science".
SELECT all unique majors (use SELECT DISTINCT) and order them by name, descending order (i.e. Physics first).
SELECT all students that have an 'e' in their name and order them by gpa in ascending order.

In [8]:
import pandas as pd

# SELECT all records in the table.

In [9]:
sql_command = 'SELECT * FROM students'
pd.read_sql_query(sql_command,connection)

   student_id      name             major  gpa enrollment_date
0           1      John  Computer Science  3.5      01-01-2022
1           2      Jane           Physics  3.8      01-02-2022
2           3       Bob       Engineering  3.0      01-03-2022
3           4  Samantha           Physics  3.9      01-04-2022
4           5     James       Engineering  3.7      01-05-2022
5           6     Emily  Computer Science  3.6      01-06-2022
6           7   Michael  Computer Science  3.2      01-07-2022
7           8   Jessica       Engineering  3.8      01-08-2022
8           9     Jacob           Physics  3.4      01-09-2022
9          10    Ashley           Physics  3.9      01-10-2022

# SELECT students whose major is "Computer Science".

In [10]:
sql_command = 'SELECT * FROM students WHERE major = "Computer Science";'
pd.read_sql_query(sql_command,connection)

   student_id     name             major  gpa enrollment_date
0           1     John  Computer Science  3.5      01-01-2022
1           6    Emily  Computer Science  3.6      01-06-2022
2           7  Michael  Computer Science  3.2      01-07-2022

# SELECT all unique majors (use SELECT DISTINCT) and order them by name, descending order (i.e. Physics first).

In [11]:
sql_command = 'SELECT DISTINCT(major) FROM students ORDER BY MAJOR DESC'
pd.read_sql_query(sql_command,connection)

              major
0           Physics
1       Engineering
2  Computer Science

# SELECT all students that have an 'e' in their name and order them by gpa in ascending order.

In [12]:
sql_command = 'SELECT name FROM students WHERE name LIKE "%e%" ORDER BY gpa'
pd.read_sql_query(sql_command,connection)

      name
0  Michael
1    Emily
2    James
3     Jane
4  Jessica
5   Ashley

# COURSES TABLE

In [13]:
sql_command = '''CREATE TABLE courses AS
    SELECT 1 AS course_id, "Python programming" AS course_name, 1 AS student_id, "A" AS grade UNION
    SELECT 2, "Data Structures", 2, "B" UNION
    SELECT 3, "Database Systems", 3, "B" UNION
    SELECT 1, "Python programming", 4, "A" UNION
    SELECT 4, "Quantum Mechanics", 5, "C" UNION
    SELECT 1, "Python programming", 6, "F" UNION
    SELECT 2, "Data Structures", 7, "C" UNION
    SELECT 3, "Database Systems", 8, "A" UNION
    SELECT 4, "Quantum Mechanics", 9, "A" UNION
    SELECT 2, "Data Structures", 10, "F";'''
cursor.execute(sql_command)

# COUNT the number of unique courses.

In [14]:
sql_command = 'SELECT COUNT(DISTINCT(course_name)) FROM courses'
pd.read_sql_query(sql_command,connection)

   COUNT(DISTINCT(course_name))
0                             4

# JOIN the tables students and courses and COUNT the number of students with the major Computer Science taking the course Python programming.

In [15]:
sql_query = 'SELECT major,course_name, COUNT(c.student_id) as no_of_students FROM students as s JOIN courses as c ON s.student_id = c.student_id WHERE major = "Computer Science" and course_name = "Python programming";'
pd.read_sql_query(sql_query,connection)

              major         course_name  no_of_students
0  Computer Science  Python programming               2

# JOIN the tables students and courses and select the students who have grades higher than "C", only show their name, major, gpa, course_name and grade.

In [16]:
sql_command = 'SELECT name,major,gpa,course_name,grade FROM students as s JOIN courses as c ON s.student_id = c.student_id WHERE grade < "C";'
pd.read_sql_query(sql_command,connection)

       name             major  gpa         course_name grade
0      John  Computer Science  3.5  Python programming     A
1  Samantha           Physics  3.9  Python programming     A
2      Jane           Physics  3.8     Data Structures     B
3       Bob       Engineering  3.0    Database Systems     B
4   Jessica       Engineering  3.8    Database Systems     A
5     Jacob           Physics  3.4   Quantum Mechanics     A

# Find the average gpa of all students.

In [17]:
sql_command = 'SELECT AVG(gpa) as average_GPA FROM students'
pd.read_sql_query(sql_command,connection)

   average_GPA
0         3.58

# SELECT the student with the maximum gpa, display only their student_id, major and gpa

In [18]:
sql_command = 'SELECT student_id,major,MAX(gpa) as gpa FROM students'
pd.read_sql_query(sql_command,connection)

   student_id    major  gpa
0           4  Physics  3.9

# SELECT the student with the minimum gpa, display only their student_id, major and gpa

In [19]:
sql_command = 'SELECT student_id,major,MIN(gpa) as gpa FROM students'
pd.read_sql_query(sql_command,connection)

   student_id        major  gpa
0           3  Engineering  3.0

# SELECT the students with a gpa greater than 3.6 in the majors of "Physics" and "Engineering", display only their student_id, major and gpa

In [20]:
sql_command = 'SELECT student_id,major,gpa FROM students WHERE major IN ("Physics","Engineering") AND gpa>3.6'
pd.read_sql_query(sql_command,connection)

   student_id        major  gpa
0           2      Physics  3.8
1           4      Physics  3.9
2           5  Engineering  3.7
3           8  Engineering  3.8
4          10      Physics  3.9

# Group the students by their major and retrieve the average grade of each major.

In [21]:
sql_command = 'SELECT major,AVG(gpa) as avg_gpa FROM students GROUP BY major'
pd.read_sql_query(sql_command,connection)

              major   avg_gpa
0  Computer Science  3.433333
1       Engineering  3.500000
2           Physics  3.750000

# SELECT the top 2 students with the highest GPA in each major and order the results by major in ascending order, then by GPA in descending order

In [23]:
sql_command = ''' SELECT name,major,gpa
            FROM (SELECT student_id,name,major,gpa,enrollment_date,
            ROW_NUMBER() OVER (PARTITION BY major ORDER BY gpa DESC) AS rank_within_major
             FROM students)
            WHERE rank_within_major< 3
            ORDER BY major,gpa DESC;'''
pd.read_sql_query(sql_command,connection)

       name             major  gpa
0     Emily  Computer Science  3.6
1      John  Computer Science  3.5
2   Jessica       Engineering  3.8
3     James       Engineering  3.7
4  Samantha           Physics  3.9
5    Ashley           Physics  3.9